//====================================================================================================
.footer {
    @include adaptiv-value("font-size", 20, 16, 1);
    line-height: 135%;
    &__container {
        background-color: #000;
    }
    &__wrapper{
        max-width: 1100px;
        @include adaptiv-value("padding-top", 34, 16, 1);
        @include adaptiv-value("padding-bottom", 34, 16, 1);
        @media (min-width:$md4+px){
            display: flex;
            justify-content: space-between;
        }
    }
    &__link{
        color: inherit;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: #00AB30;
            }
        }
    }
    /*Колонка слева*/
    &__column-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__logo {
        @media (max-width:$md4+px){
            margin-bottom: 16px;
        }
    }
    
    &__contacts {
        @media (max-width:$md3+px){
            margin-bottom: 20px;
        }
    }
    /*Колонка слева*/

    /*Колонка справа*/
    &__column-right{
        @media (min-width:$md3+px){
            flex-shrink: 1;
            flex-basis: 600/1100*100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &__title {
        color: #797979;
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__text {
        color: #fff;
    }

    &__social-network {

    }

    &__copyright {
        color: #797979;
        @include adaptiv-value("font-size", 16, 10, 1);
        line-height: 8/10*100%;
        p {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        @media (max-width:$md4+px){
            margin-top: 16px;
        }
    }
    /*Колонка справа*/
}
//====================================================================================================
